examples/flows.json
[
    {
        "id": "9552938671c34c70",
        "type": "tab",
        "label": "flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "400f5738968a8336",
        "type": "ui-button",
        "z": "9552938671c34c70",
        "group": "29949c9203fd2e72",
        "name": "",
        "label": "button",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "de5ff8c0baf4f541"
            ]
        ]
    },
    {
        "id": "12ea5fb12afac3aa",
        "type": "ui-seven-segment-display",
        "z": "9552938671c34c70",
        "name": "",
        "group": "29949c9203fd2e72",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 0,
        "height": 0,
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "de5ff8c0baf4f541",
        "type": "function",
        "z": "9552938671c34c70",
        "name": "random",
        "func": "msg.payload = Math.floor(Math.random() * 256);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 300,
        "wires": [
            [
                "12ea5fb12afac3aa",
                "819120d44207e95a"
            ]
        ]
    },
    {
        "id": "819120d44207e95a",
        "type": "function",
        "z": "9552938671c34c70",
        "name": "binarlize",
        "func": "msg.payload = msg.payload.toString(2).padStart(8, '0');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "b685cccdef2fb1cb"
            ]
        ]
    },
    {
        "id": "b685cccdef2fb1cb",
        "type": "ui-text",
        "z": "9552938671c34c70",
        "group": "29949c9203fd2e72",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "29949c9203fd2e72",
        "type": "ui-group",
        "name": "Group 1",
        "page": "f107177cb9e5eb88",
        "width": "3",
        "height": "3",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f107177cb9e5eb88",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "e532d493d4fb038e",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "86dc39ed2ea7aa99",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e532d493d4fb038e",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "86dc39ed2ea7aa99",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "d14300462a62f6b3",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.26.0",
            "@yoshoku/node-red-dashboard-2-ui-seven-segment-display": "0.1.0"
        }
    }
]